<mat-card class="example-card login">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Posible Cliente">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cumpleaños">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefono">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefono Movil">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Compañia">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ocupacion">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Años de trabajo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salario Neto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salario Bruto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Asociado">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cliente">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Oficina">
        </mat-form-field>
    </div>
    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <button [routerLink]="['/dashboard/home']" mat-raised-button class="submit-btn" type="submit" color="warn">Ingresar</button>
    </div>
</mat-card>