<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Usuarios</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Usuario</th>
                                    <th><i class="pe-7s-add-user" style="font-size: 18px;" (click)="edit(0)"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of data">
                                    <td>{{row.name}}</td>
                                    <td>{{row.username}}</td>
                                    <td>
                                        <i class="pe-7s-pen" (click)="edit(row.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<pre>{{closeResult}}</pre>